// COLORS
$color-primary: #eaebed;
$color-secondary: #121212;

$color-placeholder: rgba(255, 255, 255, 0.5);

// BORDER-RADIUS
$br-standard: 1rem;
$br-pill: 100rem;

// BREAKPOINTS - MOBILE FIRST
$bp-tablet: 767px; // Mobile
$bp-desktop: 1160px; // Tablet
